body {
    font-size: 95%;
    background-color: floralwhite;
}
h1{
    color:red;
}
th{
    background-color:antiquewhite;
}
td{
    background-color:floralwhite;
}

#header{
    background:rgb(25%,25%,25%);
    border-bottom:3px solid rgb(100%,60%,0%);
    color:rgb(100%,100%,100%);
    padding:15px 0;
}
#container{
    width 900px;
    margin: 20px auto 10px auto;
}

#left{
    border-radius: 7px;
    padding: 15px;
    width: 250px;
    float: left;
}

#right{
    
    border-radius: 7px;
    padding: 15px;
    width: 500px;
    float: right;
}

