body {
    font-size: 95%;
    background-color: floralwhite;
}
h1{
    color:red;
}
th{
    background-color:antiquewhite;
}
td{
    background-color:floralwhite;
}
#container{
    width 900px;
    margin: 20px auto 10px auto;
}

#left{
    border-radius: 7px;
    padding: 15px;
    width: 250px;
    float: left;
}

#right{
    border-radius: 7px;
    padding: 15px;
    width: 500px;
    float: right;
}

